.vscode

# dependencies
client/node_modules

# combined source file
client/source_combine.js

# combined lib file
client/lib.js

#combined styles
client/styles.css

# dependencies
server/node_modules

#logs
server/logs