/*employee*/

.add-employee {
    width: 12em;
}
.employee-form {
    width: 35em;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color:#E6EDF7;
}

.tab-content{
    height: 95%;
}