/* events*/

.events-container .nav-link{
    cursor: pointer;
}

.location-container{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 6px;
    padding: 5px;
}

.event-list li{
    cursor: pointer;
}

.existing-locations .locations{
    height: auto;
}

.event-list .finalised{
    cursor: not-allowed;
    background-color: #eee;
    color: #000000;
}

.event-list .finalised:hover{
    cursor: not-allowed;
    background-color: #eee;
}

.event-item:hover{
    background-color:#E6EDF7;
    color: #000000;
}

.pl-fallback{
    margin-top: 36px;
    
}

.update-list-btn{
    display: inline;
    position: relative;
    margin: 15px;
    top: -6px;
}

.event-header{
    display: inline;
}

.locations{
    word-break: break-all;
    height: auto;
}