<div class="tab-pane active" role="tabpanel" ng-controller="employeeCtrl">
    <div class="text-center employee-form container">
        <h1>Add Employee</h1>
        <form name="addEmployee" novalidate>

            <div class="form-group row">
                <label for="name" class="col-3 col-form-label">Name </label>
                <div class="col-9">
                    <input type="text" required ng-model="name" class="form-control" id="name" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-3 col-form-label">Email </label>
                <div class="col-9">
                    <input type="email" required ng-model="email" class="form-control" id="email" name="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-3 col-form-label">Password </label>
                <div class="col-9">
                    <input type="password" required ng-model="password" class="form-control" id="password" name="password">
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-3 col-9">
                    <button ng-disabled="addEmployee.$invalid" ng-click="addAnEmployee()" type="submit" class="btn add-employee btn-primary">Add</button>
                </div>
            </div>

        </form>
        <br />
        <br />
        <div class="alert alert-dismissible " ng-class="{'alert-success': employeeAddStatus,'alert-danger': !employeeAddStatus}" ng-show="showAlert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{alertMessage}}
        </div>
    </div>

</div>