<div class="tab-pane" role="tabpanel" ng-controller="eventsCtrl">

        <div class="col-10 mx-auto events-containers">
                <ul class="nav dark-bg nav-pills small" ng-show="userType === 'manager'" role="tablist">
                    <li class="nav-item"><a class="nav-link active" ui-sref=".addEvents" role="button" data-toggle="tab" role="tab">Add Event</a></li>
                    <li class="nav-item ml-auto"><a class="nav-link" ui-sref=".listofEvents" role="button" data-toggle="tab" role="tab">List of Events</a></li>
                </ul>
                <div class="tab-content py-4">
                    <div ui-view></div>
                    <div class="tab-pane" id="tab22" role="tabpanel">
                        <div class="card border-primary mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Primary</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-outline-secondary">Outline</a>
                            </div>
                        </div>
                        <div class="card border-primary mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Primary</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-outline-secondary">Outline</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- <div class="card border-primary mb-3">
            <div class="card-body">
                <h3 class="card-title">Primary</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional
                    content.</p>
                <a href="#" class="btn btn-outline-secondary">Outline</a>
            </div>
        </div>
        <div class="card border-primary mb-3">
            <div class="card-body">
                <h3 class="card-title">Primary</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional
                    content.</p>
                <a href="#" class="btn btn-outline-secondary">Outline</a>
            </div>
        </div> -->
    </div>