<div class="text-center full-height container" ng-controller="loginCtrl as $ctrl">
    <div class="login-container">
        <!-- <form name="loginForm" class="form-signin" novalidate>

            <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input name="email" ng-change="setInput('email')" ng-model="email" type="email" id="inputEmail" class="form-control"
                placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input name="password" ng-change="setInput('password')" ng-model="password" type="password" id="inputPassword"
                class="form-control" placeholder="Password" required="">
            <br /><br />
            <button ng-disabled="loginForm.$invalid" ng-click="doLogin()" class="btn btn-lg btn-primary btn-block" type="submit">Sign
                in</button>

        </form> -->
        <form name="addEmployee" novalidate>
            <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
            <div class="form-group row">
                <label for="email" class="col-3 col-form-label">Email </label>
                <div class="col-9">
                    <input type="email" required ng-model="email" class="form-control" id="email" name="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-3 col-form-label">Password </label>
                <div class="col-9">
                    <input type="password" required ng-model="password" class="form-control" id="password" name="password">
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-2 col-9">
                    <button ng-disabled="loginForm.$invalid" ng-click="doLogin()" type="submit" class="btn add-employee btn-primary">Sign
                        in</button>
                </div>
            </div>

        </form>
    </div>
</div>