<div class="text-center full-height container" ng-controller="resetPasswordCtrl as $ctrl">
    <div class="fp-container col-8">
        <form name="fpForm" class="form-forgot-pass" novalidate>

            <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
            <label for="inputPass" class="sr-only">Password</label>
            <input ng-required="true" ng-model="password" name="email" type="password" id="inputPass" class="form-control" placeholder="Enter new password"
                required="" autofocus="">
            <br />
            <button ng-disabled="fpForm.$invalid" ng-click="resetPassword()" class="btn btn-lg btn-primary btn-block">Submit
            </button>
        </form>
    </div>
</div>